#sidebar
  %ul
    %li
      %h2 Menú
      %ul
        - if controller.action_name == 'index'
          %li
            = link_to 'Nuevo', new_holiday_path
        - else
          %li
            = link_to Holiday.model_name.human.pluralize.humanize, holidays_path
        %li
          = link_to 'Volver', :back
/ end #sidebar
