= content_for :title, "Reportes"
= content_for :sidebar, render('sidebar')
  
%ul
  %li= link_to Conf.reports[Report::Type::WORKLOAD_BY_DEV]['title'], new_report_path(:type => Report::Type::WORKLOAD_BY_DEV)
