= content_for :head do
  :javascript
    $(document).ready(function () {
      $('div.user').each(function (i) {
        $(this).hide();
      });
    });

- @data.each do |dev, projects|
  - render_chart_html('/methodology_app/FusionCharts/Gantt.swf', '', 
                      render(:file => 'reports/projects.xml.builder', 
                             :locals => {:dev => dev, 
                                         :on_course_projects => @data[dev][:on_course],
                                         :pending_projects => @data[dev][:pending]}), 
                      dev.username, 
                      1200, 80+(25*(@data[dev][:on_course].length+@data[dev][:pending].length-1)), 
                      false)
  = render 'projects', :dev => dev, :projects => @data[dev]
