= content_for :head do
  :javascript
    $(document).ready(function () {
      $('div.user').each(function (i) {
        $(this).hide();
      });
    });

- @data.each do |dev, projects|
  - render_chart_html('/methodology_app/FusionCharts/Gantt.swf', dev_projects_path(dev, :format => :xml), '', dev.username, 1200, 80+(25*(@data[dev][:on_course].length+@data[dev][:pending].length-1)), false)
  = render 'projects', :dev => dev, :projects => @data[dev]
